<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信息系统资产登记</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% block head %}{% endblock %}
</head>
<body>

    <nav class="navbar navbar-default ">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/">信息资产管理系统</a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">登记<span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'query' %}">查询<span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'management' %}">管理<span class="sr-only">(current)</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if front_user %}
            <li><a href="#">{{ front_user.username }}</a></li>
            <li><a href="#">注销</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">登录</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


{% block body %}

{% endblock %}

<footer class="footer navbar-fixed-bottom">
    <div class="container">
        <p>Posted by: 信息管理部</p>
    </div>
</footer>


</body>


</html>